.row
  .col-md-6
    %h1.h2
      Hey, Laura!
    = form_tag sessions_path, class: 'form-inline' do
      .form-group
        = password_field_tag :chip_id, '', autofocus: true, class: 'form-control', placeholder: 'Password'

      = submit_tag 'Log in', class: 'btn btn-default'
