.row
  .col-md-8
    %img.hero-image{ src: 'http://placekitten.com/700/200' }
    = form_for @user, url: users_path do |f|
      .form-group
        %label Name
        = f.text_field :name, class: 'form-control'

      .form-group= f.submit 'Log in', class: 'btn btn-success'

