//= require nprogress

@import "bootstrap-sprockets"
@import "bootstrap"

@import 'issues'
@import 'comments'

body
  padding-bottom: 100px

.navbar
  margin-top: 20px

.login-chip-input
  font-size: 50px
  font-family: monospace
  height: 80px

.edit-user-chip-input
  font-family: monospace

.issue-filter
  margin-bottom: 20px
